@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}


.container {
  display: flex;
  background-color: white;
  width: auto;
}

.intro-content {
  width: 50%;
  padding-top: 3rem;

}
.img-content {
  width: 50%;
}

img {
  width: 100%;
}

.intro-img {
  height: 100%;
  padding: 3rem;
}

.intro-content h1 {
  font-size: 48px;
  font-family: "Roboto Black", sans-serif;
  font-weight: 900;
}

.intro-content p {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 400;
}